<div class="row text-center" style="border-bottom: 1em solid white;background-color: skyblue;">
	<div class="col-md-12" >
		<h3>Customers</h3>
	</div>
</div>

<div class="row search-cond">
	<div class="col-md-2">
		<span>Search Criteria</span>
	</div>
	<div class="col-md-2">
		<label>Name : </label><span>{{searchCriteria.name}} </span>
	</div>
	<div class="col-md-2">
		<label>Last Name : </label><span>{{searchCriteria.lastname}} </span>
	</div>
	<div class="col-md-2">
		<label>DOB : </label><span>{{searchCriteria.dob}} </span>
	</div>
	<div class="col-md-2">
		<label>Postal Code : </label><span>{{searchCriteria.postalcode}} </span>
	</div>
	<div class="col-md-2">
		<input type="button" (click)="goBack()" class="btn btn-success" value="Go Back"/>
	</div>
</div>
<table class="table table-hover" style="background: white;">
	<thead>
		<tr>
			<th>Sr No</th>
			<th>Cust Id</th>
			<th>Name </th>
			<th>Last Name</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody >
		<tr *ngFor="let customer of customers">
			<td></td>
			<td>{{customer.custid}}</td>
			<td>{{customer.name}}</td>
			<td>{{customer.lastname}}</td>
			<td>{{customer.status}}</td>
			<td><input type="checkbox" (click)="selectCustomer(customer)"/></td>
		</tr>
	</tbody>
</table>
<input type="button" (click)="submitSelectedCust()" class="btn btn-success" value="Find Products"/>
