<style>
.row div div {
	padding: .5em 0;
	font-weight: bold;
}
.row input {
	float: right;
	max-width: 50%;
	margin-right: 2em;
}
</style>
<!--<div>
{{diagnostic}}
</div>-->
<div class="row text-center" style="background-color: lightskyblue;">
	<div class="col-md-12">
		<h3>Search Customer</h3>
	</div>
</div>
<div  class="row" style="padding: 2em 3em;background-color: silver;margin-top : 1em;">
	<div class="col-md-12">
		<!--<form>-->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">First name</label>
						<input type="text" class="form-control" 
						[(ngModel)]="searchCriteria.name"  name="name" >
					</div>
					<div class="form-group">
						<label for="lastname">Last Name</label>
						<input type="text" class="form-control"    
						[(ngModel)]="searchCriteria.lastname"  name="lastname" >
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="dob">Dob</label>
						<input type="text" class="form-control"   
						[(ngModel)]="searchCriteria.dob"  name="dob" >
					</div>
					<div class="form-group">
						<label for="postalcode">Postal Code</label>
						<input type="text" class="form-control"   
						[(ngModel)]="searchCriteria.postalcode"  name="postalcode" >
					</div>
				</div>
			</div> 
			<button type="submit" class="btn btn-success" (click)="searchCustomer()">Submit</button>
		<!--</form>-->
	</div>
</div>
<div *ngIf="errorSearch" class="well" style="margin-top : 2em;background-color: indianred;">
	<span style="margin: 1em;">{{errorMessage}}</span>
</div>